@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@300;400;700&family=Poppins:wght@300;600&display=swap');

:root {
	--font-primary: 'Montserrat', sans-serif;
	--font-secondary: 'Poppins', sans-serif;
	--font-curvy: 'Dancing Script', cursive;

	--text-color-primary: #000;
	--text-color-secondary: #6e6e6e;
	--text-color-white: #fff;
	--text-color-off-white: #d9d9d9;

	--color-primary: #d04c4c;
	--color-secondary: #f9f9f9;
	--color-white: #fff;

	--bg-overlay: rgba(0, 0, 0, 0.39);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	font-family: var( --font-primary );
	font-weight: 400;
	font-size: 1rem;
	background: var(--color-secondary);
}

img {
	max-width: 100%;
	max-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var( --font-secondary );
}

/* Header Style */
.cristina-header {
	width: 100%;
	height: 550px;
	position: relative;
	z-index: 0;
	padding: 70px 0;
	background: var(--color-primary);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.cristina-header::after {
	content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
	z-index: -1;
}

.cristina-header-nav {
	width: 100%;
}
.cristina-header-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.cristina-header-menu .menu-item a {
	position: relative;
	display: inline-block;
	text-transform: lowercase;
	margin-left: 50px;
	text-decoration: none;
	color: var(--text-color-white);
	font-family: inherit;
	font-size: 1rem;
	font-weight: 300;
	z-index: 0;
}

.cristina-header-menu .menu-item a::after {
	content: '.';
	position: absolute;
	z-index: 10;
	color: var(--text-color-white);
	bottom: 0;
	right: -5px;
}

.cristina-header-menu .menu-item.current-menu-item a {
	font-weight: 700;
}

.cristina-page-title {
	font-family: var(--font-curvy);
	font-size: 7.5rem;
	line-height: 1;
	color: var(--text-color-white);
}
.cristina-search-page-title {
	font-size: 4.5rem;
}

/* Post Articles */
.cristina-content-area {
	padding: 60px 0;
}

.cristina-post-thumbnail {
	width: 100%;
	height: 200px;
	margin: 0;
}
.cristina-post-thumbnail img {
	width: 100%;
	object-fit: cover;
	object-position: bottom;
}
.cristina-post-content {
	width: 100%;
	padding: 20px 30px;
	background: var(--color-white);
}
.cristina-post-title a {
	font-family: var(--font-secondary);
	font-size: 1.25rem;
	font-weight: 600;
	color: var(--text-color-primary);
	line-height: 28px;
	text-decoration: none;
}
.cristina-post-metas span,
.cristina-post-metas span a {
	display: inline-block;
	font-family: var(--font-secondary);
	font-size: .75rem;
	font-weight: 300;
	color: var(--text-color-secondary);
	margin-right: 10px;
}
.cristina-post-metas span a {
	font-weight: 600;
	text-decoration: none;
}
.cristina-post-excerpt {
	color: var(--text-color-primary);
	font-family: var(--font-primary);
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 28px;
}
.cristina-post-readmore {
	color: var(--text-color-primary);
	font-family: var(--font-primary);
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 28px;
	text-decoration: none;
}
/* Pagination style */
.cristina-pagination {
	width: 100%;
	height: auto;
}
.page-numbers {
	display: inline-block;
	width: auto;
	padding: 7px 15px;
	margin: 0 5px;
	background: var(--color-white);
	color: var(--text-color-primary);
	text-decoration: none;
}
.page-numbers.current {
	font-weight: 600;
	background: var(--color-primary);
	color: var(--text-color-white);
}
.page-numbers:hover {
	text-decoration: underline;
}
.page-numbers.current:hover {
	text-decoration: none;
}

/* Footer Style */
.cristina-footer-area {
	width: 100%;
	min-height: 60px;
	background: var(--color-white);
	color: var(--text-color-primary);
	font-family: var(--font-primary);
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cristina-footer-area p {
	margin: 0;
}
.cristina-footer-area a {
	text-decoration: none;
	font-weight: 600;
}

/* Single Page Header Style */
.single-post .cristina-single-page-title {
	color: var(--text-color-white);
	font-family: var(--font-curvy);
	font-size: 4.5rem;
	font-weight: 700;
	line-height: 70px;
}
.single-post .cristina-post-metas span,
.single-post .cristina-post-metas span a {
	color: var(--text-color-off-white);
	font-family: var(--font-primary);
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	display: inline-block;
	margin-right: 10px;
}
.single-post .cristina-post-metas span a {
	font-weight: 600;
	text-decoration: none;
}
.cristina-post-tags {
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
}
.cristina-post-tags a {
	font-family: inherit;
	font-size: 0.875rem;
	font-weight: 600;
	text-decoration: none;
	color: var(--text-color-primary);
}
.cristina-post-tags a:hover {
	text-decoration: underline;
}

/* Post Comments */
.cristina-post-comments h3#comments{
	font-family: var(--color-secondary);
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 30px;
}
.cristina-post-comments .commentlist {
	padding: 0;
	margin: 0;
	list-style: none;
}
.cristina-post-comments .comment-author img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.cristina-post-comments .commentlist .comment {
	margin-bottom: 30px;
	background-color: var(--color-white);
	padding: 15px;
}
.cristina-post-comments .comment-form p label {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}
.cristina-post-comments .comment-form p input,
.cristina-post-comments .comment-form p textarea {
	width: 100%;
	height: 30px;
}
.cristina-post-comments .comment-form p textarea {
	height: 150px;
	padding: 10px 15px;
}
.comment-form-cookies-consent {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.cristina-post-comments .comment-form p.comment-form-cookies-consent label {
	margin: 0;
}
.comment-form-cookies-consent input#wp-comment-cookies-consent {
	width: 20px;
	margin-right: 5px;
}
.cristina-post-comments .comment-form p.form-submit input {
	max-width: 200px;
	height: 40px;
	border: 0;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 600;
	background-color: var(--color-primary);
	color: var(--text-color-white);
	transition: all 0.3s ease-in-out;
}
.cristina-post-comments .comment-form p.form-submit input:hover {
	background-color: var(--color-white);
	color: var(--text-color-primary);
}
/* Search Form */
.cristina-search-form form {
	display: flex;
	justify-content: center;
	align-items: center;
}
.cristina-search-form form label {
	width: 100%;
}
.cristina-search-form form input[class="search-field"] {
	width: 100%;
	padding: 5px 10px;
	border: 1px solid #bdbdbd;
	outline: 0;
}
.cristina-search-form form input[class="search-submit"] {
	padding: 5px 10px;
	margin-left: 10px;
	border: 1px solid var(--color-primary);
	background-color: var(--color-primary);
	color: var(--color-white);
	outline: 0;
	box-shadow: none;
}
.single-product .cristina-header {
	height: 120px;
	padding: 30px 0;
}

/* Css Fix for single product page image gallery thumbnails. */
.woocommerce div.product div.images .flex-control-thumbs {
    display: flex;
    flex-wrap: wrap;
}

.woocommerce div.product div.images .flex-control-thumbs li {
    flex: 1 1 calc(100% / 6); /* Max 6 items per row */
    max-width: calc(100% / 6); /* Ensures each item takes up 1/6th of the row */
    box-sizing: border-box;
}