@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@600&display=swap');

:root {
	--font-primary: 'Montserrat', sans-serif;
	--font-secondary: 'Poppins', sans-serif;

	--text-color-primary: #000;
	--text-color-secondary: #6e6e6e;
	--text-color-white: #fff;

	--color-primary: #d04c4c;

	--bg-overlay: rgba(0, 0, 0, 0.39);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
body {
	font-family: var( --font-primary );
	font-weight: 400;
	font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var( --font-secondary );
}